.great-container{
    height: 100%;
    grid-row: 2;
}
.container{
    background: #ffffff44;
    padding: 1%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.container.inicio{
    justify-content: space-between;
}